@font-face {
    font-family: "Perfect DOS VGA 437";
    src: local("Perfect DOS VGA 437"),
     url("../assets/Perfect\ DOS\ VGA\ 437.ttf") format("truetype");
    font-weight: bold;
    }
@media (max-width: 576px){
    #preview, .preview-window{
        width: 100%!important;
    }
}
#preview{
    font-family: "Cutive Mono", monospace;
    width: 500px;
    height: 500px;
    background-color: #3a3b3d;
    color: #e0e3eb;
    box-shadow:inset 5px 5px 20px 5px #232526;
    border: none;
    padding: 10px;
    overflow-y:scroll;
}

.preview-window{
    background: #232526;
    background: -webkit-linear-gradient(to top, #414345, #232526); 
    background: linear-gradient(to top, #414345, #232526);
    user-select: none;
}

.preview-window-title, .preview-close{
    font-size: 2rem;
    font-family: "Perfect DOS VGA 437", monospace;
    color: #e0e3eb;
}

/* parsed elements styling */

[id^="parsed"]{
    margin-bottom: 10px;
}

img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre, code{
    background: #171818;
    font-family: "Cutive Mono", monospace;
}
table{
    margin: auto;
    margin-bottom: 20px;
}
th, tr, td{
    border: 1px solid #171818;
    padding: 5px;
}
blockquote{
    margin-left: 30px;
    border-left: 5px solid #171818;
    padding-left: 10px;
}

a{
    color: #17b49d;
}
a:hover{
    color: #178171;
}

