@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=VT323&family=Cutive+Mono&display=swap');
* {
  scrollbar-width: thin;
  scrollbar-color: #232526 #6d6f74 rgb(206, 206, 206);
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #232526;
}

*::-webkit-scrollbar-thumb {

  background: #6d6f74;
}

*::-webkit-scrollbar-thumb:hover {
  background: #737579;
}

.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.preview-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

